body {
  margin-top: 40px;
  background: #eee;
}

h6 {
  margin-left: 20px;
  margin-top: 20px;
  line-height: 2;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

#filter-red {
  background-color: rgb(255, 85, 79);
}

#filter-green {
  background-color: rgb(47, 250, 179);
}

#filter-blue {
  background-color: rgb(131, 220, 242);
}

.page-todo .tasks {
  background: #f8f9fa;
  padding: 0;
  border-radius: 5px;
}

.page-todo .task-list {
  padding: 30px 15px;
  height: 100%;
}

.page-todo .task {
  margin-bottom: 1px;
  position: relative;
}

.page-todo .task .desc {
  display: inline-block;
  width: 100%;
  padding: 10px 10px;
}

.high-container #pin-button,
.medium-container #pin-button,
.low-container #pin-button {
  color: gray;
}

.done-list {
  color: grey;
}




